{% extends 'front.html.twig' %}

{% block title %}Reclamation {% endblock %}

{% block body %}
    <h1>Reclamation </h1>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div style="display: flex">
                        <div class="col-md-5">
                        </div>
                        <form method="post" class="forms-sample" style="margin-left: -42px" >
                            <div class="form-group col-md-4" style="display: flex; width: 100%!important; margin: 0px!important;">

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="emailr">emailr</label>
                                </div>
                              

                                <button type="Submit" class="btn btn-success btn-fw" style="margin: auto;background-color: #5388FA;">Sort</button>
                            </div>
                        </form>

                    </div>

                    <ul class="navbar-nav w-100" style="margin-top: 18px;">
                        <li class="nav-item w-100">
                            <form name="Search-method" id="Search-method"method="post" class="forms-sample" style="display: flex">
                            
                                <div class="form-group col-md-5">
                                    <label style="margin-top: 11px;margin-left: 10px;margin-right: 14px;padding-bottom: 7px;;">Option Recherche</label>
                                    <select name="optionsearch" class="js-example-basic-single" style="width: 200px;height: 38px; color: white; background-color: #5388FA; border-radius: 4px;text-align: center;border: 2px solid #0090e7;margin-right: 15px;">
                                        <option value="">Choisi un Critére</option>
                                        <option value="emailr">emailr </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-7">
                                    <div class="input-group">
                                        <input name="Search" type="text" class="form-control" placeholder="Search reclamation" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-primary" type="Submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
    <table class="table">
        <thead>
            <tr>
                <th>Idr</th>
                <th>Descr</th>
                <th>Nomr</th>
                <th>Emailr</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idr }}</td>
                <td>{{ reclamation.descr }}</td>
                <td>{{ reclamation.nomr }}</td>
                <td>{{ reclamation.emailr }}</td>
                <td>{{ reclamation.type }}</td>
                <td>
                    <a href="{{ path('app_reclamation_shows', {'idr': reclamation.idr}) }}">shows</a>
                    <a href="{{ path('app_reclamation_edits', {'idr': reclamation.idr}) }}">edits</a>
                </td>
                <td>
            {% if reclamation.image %}
                <img src="{{ vich_uploader_asset(reclamation, 'imageFile') }}" alt="Reclamation Image"/>
            {% endif %}
        </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                         <a href="{{ path('pdf_generate') }}" class="btn btn-primary">Generate PDF reclamation</a>

    <a href="{{ path('app_reclamation_news') }}">Create new</a>
            {{ knp_pagination_render(reclamations) }}

{% endblock %}
