 {% for annoncef in annoncef %}
           <div class="col-lg-4 col-md-6 mb-4">
        <div class="service-item">
                {#<td>{{ annoncef.idf }}</td>#}
                <center> <h2>{{ annoncef.nomf }}</h2> </center>
                <center><p><strong style="color:#0696969">{{ annoncef.adresse }}</p></center>

                <center><p><strong style="color:#0696969">{{ annoncef.emailf }}</p></center>
                <td>
                    <center><button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_annoncef_show', {'idf': annoncef.idf}) }}'">show</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_annoncef_edit', {'idf': annoncef.idf}) }}'">edit</button>
                </td>
             <br>
         <br>
         {# -------------------------- Share ------------------------------------  #}
         <div class="sharethis-inline-share-buttons"></div>
         {# -------------------------- Share ------------------------------------  #}

        </div>
      </div>
        {% else %}
             <div class="col">
        <p class="text-center">Aucun annonce trouvé.</p>
      </div>
        {% endfor %}