{% extends 'front.html.twig' %}

{% block title %}Poste{% endblock %}

{% block body %}
  <div class="service">
        <div class="container">
            <div class="section-header text-center">
             <div id="google_translate_element"></div>
                <h4 style="margin-top:50px; margin-bottom:50px;">Liste des Postes</h4>
            </div>
            <input name="search" type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search..."/>
            <div class="row"  id="search-results">
        {% for poste in postes %}
           <div class="col-lg-4 col-md-6 mb-4">
        <div class="service-item">
                {#<td>{{ poste.idp }}</td>#}
                <center> <h2>{{ poste.nomp }}</h2> </center>
                <center><p><strong style="color:#0696969">{{ poste.domaine }}</p></center>
        
                <center><p><strong style="color:#0696969">{{ poste.emailp }}</p></center>
                <td>
                    <center><button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_poste_show', {'idp': poste.idp}) }}'">show</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_poste_edit', {'idp': poste.idp}) }}'">edit</button>
                   <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_poste_qr', {'idp': poste.idp}) }}'">code qr</button></center>
                </td>
             <br>
         <br>
         {# -------------------------- Share ------------------------------------  #}
         <div class="sharethis-inline-share-buttons"></div>
         {# -------------------------- Share ------------------------------------  #}

        </div>
      </div>
        {% else %}
             <div class="col">
        <p class="text-center">Aucun poste trouvé.</p>
      </div>
        {% endfor %}
     </div>

        </div>
    </div>
    <br>

    <center><button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_poste_new') }}'">Create new</button>
    {#<button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('generator_service') }}'">PDF</button>#}
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
        {{message}}
    {% endfor %}
   
   <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'fr'}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{{ knp_pagination_render(postes) }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(function () {
$('input[name="search"]').keyup(function () {
var searchValue = $(this).val();
$.ajax({
type: 'POST',
url: '{{ path('app_postes_search') }}',
data: {
'search': searchValue
},
success: function (data) {
$('#search-results').html(data.html);
}
});
});
});
    </script>

{% endblock %}
