{% extends 'front.html.twig' %}

{% block title %}Annoncef{% endblock %}

{% block body %}
<section class="is-hero-bar">
		<div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
		
		</div>
	</section>

	<div class="card has-table">
    <h1>Annonce Fournisseur</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nomf</th>
                <th>Adresse</th>
                <th>Emailf</th>
                <th>Descf</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annoncef in annoncefs %}
            <tr>
            
                <td>{{ annoncef.nomf }}</td>
                <td>{{ annoncef.adresse }}</td>
                <td>{{ annoncef.emailf }}</td>
                <td>{{ annoncef.descf }}</td>
                <td>
                    <a href="{{ path('app_annoncef_show', {'idf': annoncef.idf}) }}">show</a>
                    <a href="{{ path('app_annoncef_edit', {'idf': annoncef.idf}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annoncef_new') }}">Create new</a>
{% endblock %}
