<img src="{{ asset('assettB/img/logo.jpg') }}"  style=" width:120px; height:50px;" alt="Description de votre image">
 <br>
 <br>
 <table  border="1">
        <thead >
            <tr>
                <th style="color:#009CFF;">Id Evenement</th>
                <th style="color:#009CFF;">Titre</th>
                <th style="color:#009CFF;">Description</th>
                <th style="color:#009CFF;">Datee</th>
                <th style="color:#009CFF;">Imagee</th>
                <th style="color:#009CFF;">Noms</th>
         </tr>  
        </thead>
            <tbody>
                        {% for event in evenement %}
            <tr>
                <td style="color:#009CFF; margin-right:50px">{{ event.ide }}</td>
                <td>{{ event.titre }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.datee ? event.datee|date('Y-m-d') : '' }}</td>
                <td><img src="{{ asset('uploads/' ~event.imagee) }}" style=" width:89px; height:75px; " alt=""/></td>
                <td>{{ event.nomss }}</td>
             </tr>
                        {% endfor %}
                    </tbody>
                </table>