{% extends 'back.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idc</th>
                <td>{{ categorie.idc }}</td>
            </tr>
            <tr>
                <th>Nomc</th>
                <td>{{ categorie.nomc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_index') }}">back to list</a>

    <a href="{{ path('app_categorie_edit', {'idc': categorie.idc}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
