{% extends 'back.html.twig' %}

{% block title %}Blacklist {% endblock %}

{% block body %}
    <h1>Blacklist </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idb</th>
                <th>Descb</th>
                <th>Nbrr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blacklist in blacklists %}
            <tr>
                <td>{{ blacklist.idb }}</td>
                <td>{{ blacklist.descb }}</td>
                <td>{{ blacklist.nbrr }}</td>
                <td>
                    <a href="{{ path('app_blackliste_show', {'idb': blacklist.idb}) }}">show</a>
                    <a href="{{ path('app_blackliste_edit', {'idb': blacklist.idb}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blackliste_new') }}">Create new</a>
{% endblock %}
