{{ form_start(form) }}
  {{ form_row(form.login) }}
  {{ form_row(form.password) }}
  {{ form_row(form.nom) }}
  {{ form_row(form.prenom) }}
  {{ form_row(form.email) }}
  {{ form_row(form.num_tel) }}
  {{ form_row(form.role) }}
  {{ form_row(form.etat) }}
  <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
