{% extends 'front.html.twig' %}



{% block body %}


    <div class="service">
        <div class="container">
            <div class="section-header text-center">
              <div id="google_translate_element"></div>

                <h4 style="margin-top:50px; margin-bottom:50px;">Liste des Utilisateurs</h4>
            </div>
            <div class="row">
           {% for user in users %}
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="service-item">
         
          
          <p><strong style="color:#696969"> NOM:</strong> {{ user.nom }}</p>
          <p><strong style="color:#696969" >PRENOM:</strong> {{ user.prenom }}</p>
           <p><strong style="color:#696969"> EMAIL:</strong> {{ user.email }}</p>
 <td>
                    <a href="{{ path('app_users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>
                </td>
         <br>
         <br>
         {# -------------------------- Share ------------------------------------  #}
         <div class="sharethis-inline-share-buttons"></div>
         {# -------------------------- Share ------------------------------------  #}

        </div>
      </div>
      {% else %}
      <div class="col">
        <p class="text-center">Aucun Utilisateur trouvé.</p>
      </div>

                {% endfor %}

            </div>

        </div>
    </div>
    <br>
    
 <a href="{{ path('app_users_new') }}">Create new</a>
{% endblock %}